    html {
        scroll-behavior: smooth;
    }

    .sf-snow-flake {
        position: fixed;
        top: -20px;
        z-index: 99999;
    }

    .sf-snow-anim {
        top: 110%;
    }

    .black-ribbon {
        position: fixed;
        z-index: 9999;
        width: 70px;
    }

    .collapse-content .fa.fa-heart:hover {
        color: #f44336 !important;
    }

    .collapse-content .fa.fa-share-alt:hover {
        color: #0d47a1 !important;
    }

    @media only all and (min-width: 768px) {
        .black-ribbon {
            width: auto;
        }
    }

    .stick-left {
        left: 0;
    }

    .stick-right {
        right: 0;
    }

    .stick-top {
        top: 0;
    }

    .stick-bottom {
        bottom: 0;
    }

    @media only screen and (max-width: 768px) {
        .center {
            position: absolute;
            width: 100%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .center {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    /* Switch info */

    .switch-info label input[type=checkbox]:checked+.lever {
        background-color: #33b5e5;
    }

    .switch-info label input[type=checkbox]:checked+.lever:after {
        background-color: #0099CC;
    }

    /* Switch danger */

    .switch-danger label input[type=checkbox]:checked+.lever {
        background-color: #ff4444;
    }

    .switch-danger label input[type=checkbox]:checked+.lever:after {
        background-color: #CC0000;
    }

    /* Switch warning */

    .switch-warning label input[type=checkbox]:checked+.lever {
        background-color: #ffbb33;
    }

    .switch-warning label input[type=checkbox]:checked+.lever:after {
        background-color: #FF8800;
    }

    /* Switch success */

    .switch-success label input[type=checkbox]:checked+.lever {
        background-color: #00C851;
    }

    .switch-success label input[type=checkbox]:checked+.lever:after {
        background-color: #007E33;
    }

    .row.make-columns {
        -moz-column-width: 19em;
        -webkit-column-width: 19em;
        -moz-column-gap: 1em;
        -webkit-column-gap: 1em;
    }

    .row.make-columns>div {
        display: inline-block;
        padding: .5rem;
        width: 100%;
    }

    /* demo only* */

    .panel {
        display: inline-block;
        height: 100%;
        width: 100%;
    }

    .disabled {
        cursor: not-allowed;
    }

    @-webkit-keyframes blinker {
        from {
            opacity: 1.0;
        }

        to {
            opacity: 0.0;
        }
    }

    .navbar+.container {
        padding-top: 88px;
    }

    .text-smd {
        color: #fc6504 !important;
    }

    p,
    li,
    ul,
    table,
    blockquote {
        color: #595b60 !important;
    }

    .dropdown .dropdown-menu.dropdown-smd .dropdown-item:hover,
    .dropdown .dropdown-menu.dropdown-smd .dropdown-item:active,
    .dropdown .dropdown-menu.dropdown-smd .dropdown-item.active,
    .dropup .dropdown-menu.dropdown-smd .dropdown-item:hover,
    .dropup .dropdown-menu.dropdown-smd .dropdown-item:active,
    .dropup .dropdown-menu.dropdown-smd .dropdown-item.active,
    .dropleft .dropdown-menu.dropdown-smd .dropdown-item:hover,
    .dropleft .dropdown-menu.dropdown-smd .dropdown-item:active,
    .dropleft .dropdown-menu.dropdown-smd .dropdown-item.active,
    .dropright .dropdown-menu.dropdown-smd .dropdown-item:hover,
    .dropright .dropdown-menu.dropdown-smd .dropdown-item:active,
    .dropright .dropdown-menu.dropdown-smd .dropdown-item.active {
        background-color: #fc6504 !important;
        border-radius: .125rem;
        -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)
    }

    .modal-dialog-full-width {
        width: 100% !important;
        height: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
        max-width: none !important;

    }

    .modal-content-full-width {
        height: auto !important;
        min-height: 100% !important;
        border-radius: 0 !important;
        background-color: #ececec !important
    }

    .modal-header-full-width {
        border-bottom: 1px solid #9ea2a2 !important;
    }

    .modal-footer-full-width {
        border-top: 1px solid #9ea2a2 !important;
    }

    .indexNews {
        background-color: white;
    }

    .bg-smd {
        background-color: #fc6504;
        color: white;
    }

    body {
        font-family: 'Kanit', sans-serif;
        background-color: rgba(241, 241, 243);
    }

    body .admin {
        background-color: #4b4b4b;
    }

    @media only screen and (max-width: 666px) {
        body {
            background-color: rgba(241, 241, 243);
        }
    }

    .sticky-content {
        position: sticky;
        position: -webkit-sticky;
        top: 68px;
        justify-content: center;
        align-items: center;
    }

    /* https://cdn.discordapp.com/attachments/636478500206936094/696627513681772595/bg_light.jpg */
    .navbar {
        background-image: url('../images/background/bg_normal_new_new.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .admin {
        background-image: url('../images/background/bg_dark_new.png');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }

    .course {
        background-color: rgba(255, 255, 255, 0.95) !important;
    }

    .badge-smd {
        color: white;
        background-color: #fc6504 !important;
    }

    .course-bg {
        background-image: url('https://cdn.discordapp.com/attachments/387191314552455192/696622897602625626/test.jpg');
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    @media only screen and (max-width: 768px) {
        .navbar {
            background-image: url('../images/background/bg_normal_new_new.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: fixed;
        }

        .admin {
            background-image: url('../images/background/bg_dark_new.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: fixed;
        }
    }

    .blink {
        text-decoration: blink;
        -webkit-animation-name: blinker;
        -webkit-animation-duration: 0.6s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: ease-in-out;
        -webkit-animation-direction: alternate;
    }

    .blink2 {
        text-decoration: blink;
        -webkit-animation-name: blinker;
        -webkit-animation-duration: 0.2s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: ease-in-out;
        -webkit-animation-direction: alternate;
    }

    .circle {
        width: 100%;
        position: relative;
        border-radius: 50%;
        overflow: hidden;
        text-align: center;
    }

    .circle:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 100%;
    }

    .circle>img {
        position: absolute;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        right: 0;
        margin: 0 auto;
        bottom: 0;
        opacity: 0;
        transition: opacity .4s;
    }

    .circle>img.tallAndNarrow {
        width: 100%;
        top: 50%;
        transform: translateX(0) translateY(-50%);
        left: 0;
        height: auto;
    }

    .circle>img.loaded {
        opacity: 1;
    }

    footer hr {
        height: 1px;
        color: #ffffff;
        background-color: #ffffff;
        border: none;
    }


    .rounded-circle-image {
        background-image: url("https://i.gyazo.com/da27f072059db48590e3b9da9d7789c2.jpg");
        background-position: center;
        background-size: cover;
        height: 120px;
        width: 120px;
        border-radius: 50%;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    body {
        transition: margin-left .5s;
    }

    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }

        .sidenav a {
            font-size: 18px;
        }
    }