[data-theme="dark"] {
    background-color: #111 !important;
    color: white !important;
}

[data-theme="dark"] .bg-light {
    background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
    background-color: #000 !important;
}

[data-theme="dark"] .bg-black {
    background-color: #eee !important;
}

[data-theme="dark"] .input-group-text
,[data-theme="dark"] .file-path
,[data-theme="dark"] .form-control {
    color: white !important;
    background-color: #333;
}

[data-theme="dark"] .note-editable {
    background-color: #1c1c1c !important;
}

[data-theme="dark"] .card
,[data-theme="dark"] .card-body
,[data-theme="dark"] .input-group-text {
    background-color: #1c1c1c;
}

[data-theme="dark"] .content {
    background-color: #1e1e1e;
}

[data-theme="dark"] .course {
    background-color: rgba(28, 28, 28, 0.8) !important;
}

[data-theme="dark"] .course-bg {
    background-image: url('../images/background/bg_dark_resize.jpg');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

[data-theme="dark"] a
,[data-theme="dark"] li .page-item {
    color: #ffc30f;
}

[data-theme="dark"] h1
,[data-theme="dark"] h2
,[data-theme="dark"] h3
,[data-theme="dark"] h4
,[data-theme="dark"] h5
,[data-theme="dark"] p {
    color: white !important;
}

[data-theme="dark"] .carousel h1
,[data-theme="dark"] .carousel h2
,[data-theme="dark"] .carousel h3
,[data-theme="dark"] .carousel h4
,[data-theme="dark"] .carousel h5
,[data-theme="dark"] .carousel p {
    color: white !important;
}

[data-theme="dark"] .navbar {
    background-image: url('../images/background/bg_dark_resize.jpg') !important;
    background-repeat: no-repeat;
    background-size: 100%;
}

@media only screen and (max-width: 768px) {
    [data-theme="dark"] .navbar {
        background-image: url('../images/background/bg_normal_resize.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: fixed;
    }
}