[data-theme="dark"] {
    background-color: #111 !important;
    color: #eee;
}

[data-theme="dark"] .bg-light {
    background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
    background-color: #000 !important;
}

[data-theme="dark"] .bg-black {
    background-color: #eee !important;
}

[data-theme="dark"] .body-darkmode {
    font-family: 'Kanit', sans-serif;
    background: url('../images/background/bg_dark_resize.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

[data-theme="dark"] body .admin {
    background-color: #4b4b4b;
}

[data-theme="dark"] @media only screen and (max-width: 666px) {
    body {
        background: url('../images/background/background_mobile_verticle.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

[data-theme="dark"] .navbar {
    background-image: url('../images/background/bg_dark_resize.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

[data-theme="dark"] .admin {
    background-image: url('../images/background/bg_dark_resize.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

[data-theme="dark"] @media only screen and (max-width: 768px) {
    .navbar {
        background-image: url('../images/background/bg_dark_resize.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: fixed;
    }
    .admin {
        background-image: url('../images/background/bg_dark_resize.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: fixed;
    }
}